<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">          
            <div class="card" *ngIf="aluno">
                <form [formGroup]="form" (submit)="updateAlunoSubmit()">
  
                    <div class="row">
                
                      <div class="col-12">
                  <div class="md-form" >
                    <label>Nome</label>
                    <input  type="text" [(ngModel)]="aluno.nome" class="form-control" formControlName="nome" name="nome" placeholder="Nome">
                  </div>
                </div>
                <div class="col-sm">  
                  <div class="md-form">
                    <label>E-mail</label>
                    <input  type="text" [(ngModel)]="aluno.email" class="form-control" formControlName="email" name="email" placeholder="E-mail">
                  </div>
                </div>
                <div class="col-sm">  
                  <div class="md-form">
                    <label>Telefone</label>
                    <input  type="text" [(ngModel)]="aluno.telefone" [textMask]="{mask: mask}" class="form-control" formControlName="telefone" name="telefone" placeholder="Telefone">
                  </div></div>
                  <div class="col-sm"> 
                    <label>Serie</label>
                    <div class="md-form">
                      
                      <select class="browser-default custom-select" [(ngModel)]="aluno.serie" formControlName="serie"  >
                        <option value="" disabled selected>Serie</option>
                        <option [value]="aluno.serie">{{aluno.serie}}</option>
                        <option value="Grupo 1">Grupo 1</option>
                        <option value="Grupo 2">Grupo 2</option>
                        <option value="Grupo 3">Grupo 3</option>
                        <option value="Grupo 4">Grupo 4</option>
                        <option value="outro">Alfabetização</option>
                        <option value="1º série">1º série</option>
                        <option value="2º série">2º série</option>
                        <option value="3º série">3º série</option>
                        <option value="4º série">4º série</option>
                      </select>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                  <div class="col-sm"> 
                     
                  <div class="md-form">
                    <label>Celular</label>
                    <input  type="text" [(ngModel)]="aluno.celular" [textMask]="{mask: maskcel}" class="form-control" formControlName="celular" name="celular" placeholder="Celular">
                  </div></div>
                  <div class="col-sm"> 
                    <label>Status</label>
                    <div class="md-form">
                      
                      <select class="browser-default custom-select" [(ngModel)]="aluno.status" formControlName="status"  >
                        <option value="" disabled selected>Status</option>
                        <option [value]="aluno.status">{{aluno.status}}</option>
                        <option value="ativo">Ativo</option>
                        <option value="inativo">Inativo</option>
                        <option value="cancelado">Cancelado</option>
                        <option value="outro">Outro</option>
                      </select>
                    </div>
                    </div>
                    <div class="col-sm"> 
                        <label>Sexo</label>
                        <div class="md-form">
                          
                          <select class="browser-default custom-select" [(ngModel)]="aluno.sexo" formControlName="sexo"  >
                            <option value="" disabled selected>Sexo</option>
                            <option [value]="aluno.sexo">{{aluno.sexo}}</option>
                            <option value="masculino">masculino</option>  
                            <option value="feminino">feminino</option>                          
                          </select>
                        </div>
                        </div>
                    <div class="col-sm">  
                        <label>Primeiro vencimento</label>
                      <mat-form-field>   
                       
                        <mat-label>Primeiro vencimento</mat-label>          
                        <input matInput [(ngModel)]="aluno.privenc" [matDatepicker]="picker1" formControlName="privenc">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                    </div>
                  
                  </div>
                   
                 
                  <div class="row">
                    <div class="col-sm"> 
                      <div class="md-form">
                        <label>RG</label>
                        <input  type="text" [(ngModel)]="aluno.RG" class="form-control" formControlName="rg" name="rg" placeholder="Número de Identidade">
                      </div></div>
                      <div class="col-sm"> 
                        <div class="md-form">
                          <label>CPF</label>
                          <input  type="text" [(ngModel)]="aluno.CPF" class="form-control" formControlName="CPF" name="CPF" placeholder="CPF">
                        </div></div>
                        <div class="col-sm">  
                            <label>Data de nascimento</label>
                          <mat-form-field>   
                            <mat-label>Data de nascimento</mat-label>          
                            <input matInput [(ngModel)]="aluno.datnsc" [matDatepicker]="picker" formControlName="datnsc">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        <div class="col-sm">  
                            <label>Data da matricula</label>
                          <mat-form-field>   
                            <mat-label>Data da matricula</mat-label>          
                            <input matInput [(ngModel)]="aluno.datamatricula" [matDatepicker]="picker2" formControlName="datamatricula">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                          </mat-form-field>
                        </div>
                  </div>
                  <button class="btn btn-primary btn-round"  [routerLink]="['/aluno/perfil-aluno', aluno._id]"   >Voltar para página do Aluno</button>
                 <button class="btn btn-primary btn-round" >Atualizar Aluno</button>
                </form>
            </div>
        </div>
    </div>
</div>
