<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">   
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header ">
              <h2 class="card-title">Relatório mensal</h2>          
            </div>
    
    </div> 
    <div id="htmlData" #htmlData > 
        <div class="print">
        <h2 class="card-title">Relatório mensal</h2>    
        <div class="list-group printData">
        
    
    
            <table class="table table-bordered">
                <tr class="table-primary">
                  <th>Data de pagamento</th>
                  <th>Tipo de pagamento</th>
                  <th>Valor</th>
                  <th>Data de vencimento</th>
                  <th>Observações</th>
              
                </tr>
                <tr *ngFor="let item of mensalidades">
                  <th>Aberto</th>
                  <td>{{item.tipo}}</td>
                  <td>{{item.vlrmen }}</td>
                  <td>{{item.vctmen | date: 'dd/MM/yyyy'}}</td>
                  <td> {{item.observacao}}</td>
                
                </tr>
                <tr class="table-primary">                
                    <th>Totais</th>
                    <th></th>
                    <th>{{valorMensalidade | currency:'BRL':true}}</th>
                    <!-- <th>{{cartaoValor | currency:'BRL':true}}</th>
                    <th>{{valoresOutro | currency:'BRL':true}}</th> -->
                  
                  </tr>
              </table>
    
        </div>
    </div> 
    </div>
    <button class="btn btn-danger btn-block" (click)="downloadPDF()">Download PDF</button>
     
    </div>
</div>
