body, h5 {
  font-size: 14px;
}
.btn-wrapper{
    margin: 10px;
    display: inline-block;
    top: -1.1em;
    position: relative;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn-img {
    border: 2px solid gray;
    color: gray;
    background-color: white;
   
    border-radius: 8px;
    font-size: 20px;
   
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .img-text{
    display: grid;
    text-align: center;
}
.img-text img{
    border-radius: 60px !important;
    padding: 10px;
}
.mensalidadesAbertas{
  padding: 10px;
  background-color: cornflowerblue;
}
.mensalidadesAbertas a{
  color: #fff;
  font-weight: bold;
}
.mensalidadePaga{
  padding: 10px;
}
.card-title{
  width: 200px;
  display: inline-block;
}
.criar-aluno, .buttonObs{
  float: right;
}
